<mat-card>
    
    <p><img style="float: left; margin-top: 12px; margin-left: 30px;" src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showlogo.png" alt="We Bare Bears Album" title="We Bare Bears Album" width="400" height="220"></p>
    <table>
        <tr>
			<td>
				<img src="https://i.pinimg.com/originals/04/aa/51/04aa51efc23e666a8ed065c47fc116af.jpg" alt="Ice bear" title="Ice Bear" width="120" height="120">
			</td>

			<td>
				<img src="https://64.media.tumblr.com/c2ad6dd5b743b1c3f49cd32d486381b6/tumblr_pkgh691XJR1w9meb1_640.png" title="Grizzly" width="120" height="120">
			</td>

			<td>
				<img src="https://data.whicdn.com/images/321661636/original.png" alt="Panda" title="Panda" width="120" height="120">
			</td>

			<td>
				<img src="https://64.media.tumblr.com/58256982d88fc4f95920b72db350f0b7/tumblr_oho4wgDdfK1ugps3fo3_250.png" alt="Chloe Park" title="Chloe Park" width="120" height="120">
			</td>
		</tr>

		<tr>
			<td>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbNibriyQFZYUA81_lTNi8cynHusQLcVhO3g&usqp=CAU" alt="Charlie" title="Charlie" width="120" height="120">
			</td>

			<td>
				<img src="https://64.media.tumblr.com/820834a9f098dec9969ed22b8d3fe568/04286e7a671fd3d7-64/s1280x1920/b8ded5ac1e9a87f4630b7f3b1552476210712a7a.jpg" alt="Ranger Dana Tabes" title="Ranger Dana Tabes" width="120" height="120">
			</td>

			<td>
				<img src="http://pm1.narvii.com/6361/9cccfb87ab5d775badb0cfa74e67c0d622411754_00.jpg" alt="Lucy" title="Lucy" width="120" height="120">
			</td>

			<td>
				<img src="https://64.media.tumblr.com/03cd62fad3ed8950d05d1bb6e2b114f4/tumblr_inline_poipucJR3Z1v8mayf_1280.png" alt="Nom Nom" title="Nom Nom" width="120" height="120">
			</td>
		</tr>

		<tr>
			<td>
				<img src="https://pm1.narvii.com/6623/67db3a0a394d6d3f3b819b2f887a260394e86af4_00.jpg" alt="Yana" title="Yana" width="120" height="120">
			</td>

			<td>
				<img src="https://english-with-fun.org/images/thumbs/tvseries/animated/we_bare_bears/57a84284607dd1fc7938767455a26ef1c25c5753.png" alt="Ranger Martinez" title="Ranger Martinez" width="120" height="120">
			</td>

			<td>
				<img src="https://pm1.narvii.com/7817/46217872757626032bffd7476d7f216e51036cd2r1-403-723v2_00.jpg" alt="Clifford" title="Clifford" width="120" height="120">
			</td>

			<td>
				<img src="https://vignette3.wikia.nocookie.net/webarebears/images/6/6a/Mc93.png/revision/latest?cb=20160728191049" alt="Chloe's Parents" title="Chloe's Parents" width="120" height="120">
			</td>
		</tr>

		<tr>
			<td>
				<img src="https://content.internetvideoarchive.com/content/hdphotos/12030/012030/012030_960x720_232676_002.jpg" alt="Ralph" title="Ralph" width="120" height="120">
			</td>

			<td>
				<img src="https://static.miraheze.org/drawnfeetwiki/thumb/2/21/Samantha_%28We_Bare_Bears%29_47.png/93px-Samantha_%28We_Bare_Bears%29_47.png" alt="Samantha" title="Samantha" width="120" height="120">
			</td>

			<td>
				<img src="https://pm1.narvii.com/6556/d790ba85597b9d78bccdc6cdfd53eeb2b60e2825_hq.jpg" alt="Amanda" title="Amanda" width="120" height="120">
			</td>

			<td>
				<img src="https://resizing.flixster.com/a13YS4MM80mNzbnxV7TfFFDxcpQ=/300x300/v2/https://flxt.tmsimg.com/assets/p13347153_e_h9_aa.jpg" alt="Yuri" title="Yuri" width="120" height="120">
			</td>
		</tr>	
    </table>

</mat-card>