<mat-card>
    <mat-card-header>
        <mat-card-title style="font-size: 45px; font-weight: 800;">Contact Details</mat-card-title>
        <img mat-card-avatar class="pic" src="assets/pic.jpg" alt="My Picture">
    </mat-card-header>
    <h2>Facebook:</h2>
	<h3><a href="https://www.facebook.com/rogin.cartalla"><mat-icon>facebook</mat-icon>Rogin Cartalla</a></h3>
    <h2>Instagram:</h2>
	<h3><a href="https://www.instagram.com/rogincartalla/"><mat-icon>camera</mat-icon>Rogin Cartalla</a></h3>
    <h2>Email:</h2>
	<h3><a href="https://www.gmail.com"><mat-icon>email</mat-icon>rogin.cartalla@evsu.edu.ph</a></h3>
    <h2>Contact Number:</h2>
	<h3><mat-icon>phone</mat-icon>09451185202</h3>

</mat-card>