mat-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url(https://www.teahub.io/photos/full/169-1691293_light-blue-wallpaper-full-hd-for-desktop-wallpaper.jpg);
}
mat-icon{
    height: 40px;
    width: 40px;
}

.pic {
    height: 60px;
    width: 60px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    height: 30px;
    margin-left: 80px;
}
h3{
    font-size: 25px;
    margin-left: 180px;
}
a:link {
    text-decoration: none;
}