mat-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url(https://www.teahub.io/photos/full/169-1691293_light-blue-wallpaper-full-hd-for-desktop-wallpaper.jpg);
}