<mat-card>
    <mat-card-header>
        <mat-card-title style="font-size: 45px; font-weight: 800;">Personal Profile</mat-card-title>
    </mat-card-header>

	<pre style="font-family: Courier; font-size:31px">  Name:			Rogin D. Cartalla
  Place of Birth: 	Brgy. Zone 2, Santa Fe Leyte
  Date of Birth: 	May 11, 2000
  Age: 			21
  Sex: 			Male
  Height: 		171 cm.
  Weight: 		144 lbs.
  Civil Status: 	Single
  Religion: 		Roman Catholic
  Hobbies: 		Listening to Music, Watching Movies
                        and Anime, Travel, Photography,
                        Playing Basketball and Video Games</pre>
</mat-card>